<br>
<div class="card card-body">
  <input *ngIf="show; else block" type="text" [(ngModel)]="searchData" class="form-control" autofocus placeholder="Pesquisar"><br>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead class="bg-primary text-white">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of records | category: searchData;">
          <th scope="row">{{item.CategoryID}}</th>
          <td>{{item.CategoryName}}</td>
          <td>{{item.Description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
