<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- <a class="navbar-brand" href="#">SoftGestão</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of menuItem">
        <a class="nav-link" href="#"><i class="material-icons" [routerLink]="item.router" routerLinkActive="active">{{item.Icon}}</i> {{item.Title}}</a>
      </li>
    </ul>
  </div>
</nav>
